---
import { differenceInMonths } from 'date-fns'

import { getLocale, t } from '@/i18n'
import { getDurationTextFromMonths } from '@/utils/functions/getDurationTextFromMonths'

interface Props {
  company: string
  companyLink: string
  dateEnd?: Date
  dateStart: Date
  position: string
}

const { company, companyLink, dateEnd, dateStart, position } = Astro.props

const dateStartText = dateStart.toLocaleDateString(getLocale(Astro.currentLocale), {
  month: 'short',
  year: 'numeric'
})

const dateEndText =
  dateEnd?.toLocaleDateString(getLocale(Astro.currentLocale), {
    month: 'short',
    year: 'numeric'
  }) || t(Astro.currentLocale, 'present')

const locale = getLocale(Astro.currentLocale)
---

<div class="info">
  <a class="company" href={companyLink}>{company}</a>
  <h3 class="position">
    {position}
    <span class="time">
      <time datetime={dateStart.toISOString()}>{dateStartText}</time>
      {' - '}
      <time datetime={dateEnd?.toISOString()}>{dateEndText}</time>
      ({getDurationTextFromMonths(differenceInMonths(dateEnd || new Date(), dateStart), locale)})
    </span>
  </h3>
</div>

<div class="description">
  <slot />
</div>

<style>
  @import '../../styles/mixins.css';

  .company {
    @mixin focus;
    @mixin link-underline;

    color: var(--c-text-secondary);
    font-size: var(--font-size-xs);
  }

  .position {
    margin: 0.25rem 0 0 0;
    font-size: var(--font-size-xl);
  }

  .description {
    max-width: var(--max-text-width);

    & :global(ul) {
      padding-left: 0;
      list-style: inside;
    }

    & :global(li:not(:first-child)) {
      margin-top: 0.55rem;
    }
  }

  .time {
    color: var(--c-text-gray);
    font-size: var(--font-size-base);
    font-weight: 300;
  }
</style>
