---
import { getCollection } from 'astro:content'

import { getLocale } from '@/i18n'

import ResumeItem from './resume-item.astro'

const locale = getLocale(Astro.currentLocale)

const positions = (await getCollection('resume'))
  .filter(p => p.slug.startsWith(`${locale}/`))
  .sort((a, b) => Number(b.data.dateStart) - Number(a.data.dateStart))
---

<ul class="positions-list">
  {
    positions.map(async ({ data, render }) => {
      const Content = (await render()).Content
      return (
        <li class="position-item">
          <ResumeItem
            company={data.company}
            companyLink={data.companyLink}
            dateEnd={data.dateEnd}
            dateStart={data.dateStart}
            position={data.position}
          >
            <Content />
          </ResumeItem>
        </li>
      )
    })
  }
</ul>

<style>
  .positions-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .position-item:first-child {
    margin-top: 0.5rem;
  }

  .position-item:not(:first-child) {
    margin-top: 2.5rem;
  }
</style>
