---
import { getLocale, t } from '@/i18n'

export type Props = {
  title: string
}

const { title } = Astro.props
const url = Astro.url

const locale = getLocale(Astro.currentLocale)
const page = Astro.url.pathname.replace(`${locale}`, '').replaceAll('/', '')
const coverLink = `${url.origin}/covers/${page === '' ? 'main' : page}-${locale}.png`
---

<meta charset="UTF-8" />
<meta content={t(Astro.currentLocale, 'siteDescription')} name="description" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content={Astro.generator} name="generator" />
<meta content="male" itemprop="gender" />

<link href="/favicon.ico" rel="icon" sizes="32x32" />
<link href="/icon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/manifest.webmanifest" rel="manifest" />
<meta content="#313131" name="theme-color" />

<link href="https://drimchansky.dev/" rel="canonical" />

<meta content="website" property="og:type" />
<meta content={title} property="og:title" />
<meta content={t(Astro.currentLocale, 'siteDescription')} property="og:description" />
<meta content={Astro.url} property="og:url" />

<meta content={coverLink} property="og:image" />
<meta content="1200" property="og:image:width" />
<meta content="630" property="og:image:height" />

<meta content="summary_large_image" name="twitter:card" />
<meta content="@drimchansky" name="twitter:site" />

<link as="font" href="/fonts/Inter-Variable.woff2" rel="preload" type="font/woff2" crossorigin />

<title>{title}</title>

<script is:inline>
  const theme = localStorage.getItem('color-theme') || 'auto'
  document.documentElement.classList.toggle('is-dark-theme', theme === 'dark')
  document.documentElement.classList.toggle('is-light-theme', theme === 'light')
</script>
