---
import type { GetStaticPaths } from 'astro'

import { getCollection } from 'astro:content'

import { getLocale, supportedLocales, t } from '@/app/i18n'
import BaseLayout from '@/app/layouts/base-layout.astro'
import { Header } from '@/components/header'
import { filterNotes, prepareNotesList, RssLink } from '@/components/notes'
import Container from '@/shared/ui/container.astro'
import TypographyH1 from '@/shared/ui/typography/typography-h1.astro'
import TypographyH2 from '@/shared/ui/typography/typography-h2.astro'
import TypographyH3 from '@/shared/ui/typography/typography-h3.astro'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'

export const getStaticPaths = (async () =>
  supportedLocales.map(lang => ({ params: { lang } }))) satisfies GetStaticPaths

const locale = getLocale(Astro.currentLocale)
const notes = await getCollection('notes', entry => entry.id.startsWith(`${locale}/`))
const notesGrouped = prepareNotesList(locale, filterNotes(notes))

const monthDayFormatter = new Intl.DateTimeFormat(locale, { day: 'numeric', month: 'short' })
---

<BaseLayout title=`${t(Astro.currentLocale, 'notes')} – ${t(Astro.currentLocale, 'fullName')}`>
  <Header slot="header" />

  <div>
    <Container content class="py-12">
      <TypographyH1>
        {t(Astro.currentLocale, 'notes')}
        <sup>
          <RssLink class="ml-0.5" />
        </sup>
      </TypographyH1>

      {
        notesGrouped.map(([year, notes]) => {
          return (
            <>
              <TypographyH2 class="border-header-border border-b-2 pt-8 pb-2">{year}</TypographyH2>

              <ul class="mt-2 list-none">
                {notes.map(({ data, url }) => {
                  return (
                    <li class="flex items-center justify-between gap-4">
                      <a class="text-fg focus-ring link-underline block py-1.5" href={url}>
                        <TypographyH3>
                          <TypographySpan>{data.title}</TypographySpan>
                        </TypographyH3>
                      </a>
                      <TypographySpan class="text-fg-subtle text-sm text-nowrap no-underline">
                        <time datetime={data.publishingDate.toISOString()}>
                          {monthDayFormatter.format(data.publishingDate)}
                        </time>
                      </TypographySpan>
                    </li>
                  )
                })}
              </ul>
            </>
          )
        })
      }
    </Container>
  </div>
</BaseLayout>
