---
import { getCollection, render as renderEntry } from 'astro:content'

import { getLocale } from '@/app/i18n'

import ResumeItem from './resume-item.astro'

const locale = getLocale(Astro.currentLocale)

const positions = (await getCollection('resume'))
  .filter(p => p.id.startsWith(`${locale}/`))
  .sort((a, b) => Number(b.data.dateStart) - Number(a.data.dateStart))
---

<ul class="space-y-resume-gap m-0 list-none p-0">
  {
    positions.map(async position => {
      const { data } = position
      const Content = (await renderEntry(position)).Content
      return (
        <li>
          <ResumeItem
            company={data.company}
            companyLink={data.companyLink}
            dateEnd={data.dateEnd}
            dateStart={data.dateStart}
            position={data.position}
            location={data.location}
          >
            <Content />
          </ResumeItem>
        </li>
      )
    })
  }
</ul>
