---
import { getLocale, t } from '@/app/i18n'
import { getTestId } from '@/shared/functions/getTestId'

import { getTotalDurationText } from '../functions/getTotalDurationText'

interface Props {
  company: string
  companyLink: string
  dateEnd?: Date
  dateStart: Date
  position: string
  location: {
    country: string
    type: 'on-site' | 'remote' | 'hybrid'
  }
}

const { company, companyLink, dateEnd, dateStart, location, position } = Astro.props

const dateStartText = dateStart.toLocaleDateString(getLocale(Astro.currentLocale), {
  month: 'short',
  year: 'numeric'
})

const dateEndText =
  dateEnd?.toLocaleDateString(getLocale(Astro.currentLocale), {
    month: 'short',
    year: 'numeric'
  }) || t(Astro.currentLocale, 'present')

const locale = getLocale(Astro.currentLocale)
---

<div class="flex w-full max-w-(--max-content-width) flex-wrap justify-between">
  <div>
    <a class="focus-ring link-underline text-fg-muted text-xs leading-(--text-xs--line-height)" href={companyLink}
      >{company}</a
    >
    <h3 class="m-0 font-sans text-lg font-bold">
      {position}
    </h3>
  </div>
  <div>
    <div class="text-xs leading-(--text-xs--line-height) font-normal">
      {location.country} | {t(Astro.currentLocale, location.type)}
    </div>
    <div class="text-xs leading-(--text-xs--line-height) font-normal">
      <time datetime={dateStart.toISOString()}>{dateStartText}</time>
      {' - '}
      <time datetime={dateEnd?.toISOString()}>{dateEndText}</time>
      <span class="print:hidden" data-testid={getTestId('resume-item-duration')}>
        ({getTotalDurationText(dateStart, dateEnd, locale)})
      </span>
    </div>
  </div>
</div>

<div
  class="mt-(--description-gap) max-w-(--max-content-width) [--description-gap:0.5rem] print:[--description-gap:0.2rem] [&_li:not(:first-child)]:mt-2 [&_p:not(:first-of-type)]:mt-(--description-gap) [&_ul]:mt-(--description-gap) [&_ul]:list-inside [&_ul]:list-disc [&_ul]:pl-0"
>
  <slot />
</div>
